<?xml version="1.0"?>

<model>
  <name>floor0</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <!-- Adapted from Asphalt Plane by
    <name>Thomas Koletschka</name>
    <email>thomas.koletschka@gmail.com</email>
     -->
    <name>Nelson Wong</name>
    <email>ntwong0@gmail.com</email>
  </author>

  <description>
    A Martian textured plane.
  </description>

</model>
